{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<div class="container">
    <h2>Свежие вакансии</h2>

    {% for item in vacancies %}
        <div class="alert alert-info">
            <h3><b>{{ item.name }}</b></h3>
			<p>Требования:</p>
            <ul>
                {% set requirement_list = item.requirement.split('. ') %}
                {% for el in requirement_list %}
                    <li>{{ el }}</li>
                {% endfor %}
            </ul>

			<p>Обязанности:</p>
            <ul>
                {% set requirement_list = item.responsibility.split('. ') %}
                {% for el in requirement_list %}
                    <li>{{ el }}</li>
                {% endfor %}
            </ul>

			<p>Опыт: {{ item.experience }}</p>
			<p>Занятость: {{ item.employment }}</p>
			<p>Опубликована: {{ item.published_at }}</p>
			<a href="{{ item.vacancy_url }}" target="_blank" class="btn btn-warning">Детальнее</a>

        </div>
    {% endfor %}

</div>

{% endblock %}

{% block bottom %}
<div class="box">


    <div  style="text-align: center"  >
        {% if vacancies.has_prev %}
            <a class="btn btn-warning" href="/page/{{ vacancies.prev_num }}">&laquo;</a>
        {% endif %}
            {% for page in vacancies.iter_pages() %}
                {% if page == vacancies.page %}
                    <a class="btn btn-info" href="/page/{{ page }}" >{{ page }}</a>
                {% elif page is none %}
                    <a class="btn btn-warning" >&hellip;</a>
                {% else %}
                    <a class="btn btn-warning" href="/page/{{ page }}" >{{ page }}</a>
                {% endif %}
        {% endfor %}

        <!--
      <a class="btn btn-warning" href="/page/1" >1</a>
      <a class="btn btn-warning" href="/page/2" >2</a>
      <a class="btn btn-warning" href="/page/3" >3</a>
      <a class="btn btn-warning" href="/page/4" >4</a>
      <a class="btn btn-warning" href="/page/5" >5</a>
      -->
        {% if vacancies.has_next %}
            <a class="btn btn-warning" href="/page/{{ vacancies.next_num }}" >&raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}